Repository woowacourse-teams/2021-cvi, pull requests merged in 2021-07, with the labels that each got.

#7 Feature/backend docs (#4)
  backend/.gitignore
  backend/build.gradle
  backend/docs/index.adoc
  backend/docs/index.html
  backend/empty.txt
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/backjoongwon/cvi/CviApplication.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/CommonException.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/DuplicateException.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/ExceptionMessage.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/InvalidInputException.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/NotFoundException.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/UnAuthorizedException.java
  backend/src/main/java/com/backjoongwon/cvi/common/handler/CVIControllerAdvice.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/VaccinationType.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostRequest.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserRequest.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserResponse.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/backjoongwon/cvi/ApiDocument.java
  backend/src/test/java/com/backjoongwon/cvi/CviApplicationTests.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature

#9 feat: 컴포넌트 구현 (#5)
  frontend/.eslintrc
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/webpack.config.js
  frontend/index.html
  frontend/package.json
  frontend/src/App.js
  frontend/src/GlobalStyles.js
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/login.svg
  frontend/src/assets/icons/logout.svg
  frontend/src/assets/icons/review.svg
  frontend/src/assets/icons/statistic.svg
  frontend/src/components/BaseLayout/BaseLayout.js
  frontend/src/components/BaseLayout/BaseLayout.styles.js
  frontend/src/components/Button/Button.js
  frontend/src/components/Button/Button.stories.js
  frontend/src/components/Button/Button.styles.js
  frontend/src/components/Frame/Frame.js
  frontend/src/components/Frame/Frame.stories.js
  frontend/src/components/Frame/Frame.styles.js
  frontend/src/components/Label/Label.js
  frontend/src/components/Label/Label.stories.js
  frontend/src/components/Label/Label.styles.js
  frontend/src/components/Selection/Selection.js
  frontend/src/components/Selection/Selection.stories.js
  frontend/src/components/Selection/Selection.styles.js
  frontend/src/components/SideBar/SideBar.js
  frontend/src/components/SideBar/SideBar.stories.js
  frontend/src/components/SideBar/SideBar.styles.js
  frontend/src/components/Tabs/Tabs.js
  frontend/src/components/Tabs/Tabs.stories.js
  frontend/src/components/Tabs/Tabs.styles.js
  frontend/src/constants/index.js
  frontend/src/constants/palette.js
  frontend/src/constants/path.js
  frontend/src/constants/theme.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/HomePage/HomePage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/pages/index.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend

#13 Feature/backend domain
  backend/docs/index.adoc
  backend/src/main/java/com/backjoongwon/cvi/common/domain/JpaConfiguration.java
  backend/src/main/java/com/backjoongwon/cvi/common/domain/entity/BaseEntity.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/InvalidOperationException.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/VaccinationType.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostRequest.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/AgeRange.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/SocialProvider.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/UserRepository.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserRequest.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserResponse.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/domain/PostTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/domain/UserTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature

#21 Feature/backend issue17
  backend/build.gradle
  backend/docs/index.adoc
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/DummyData.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDslImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/AgeRange.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/AgeRangeResponse.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserRequest.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserResponse.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature

#30 hotfix: 문서 수정 및 일부 API 변경 (#25)
  backend/.gitignore
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDslImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/VaccinationType.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/ApiDocument.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, docs, hotfix

#32 Hotfix/users
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/SigninRequest.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserMeResponse.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature, hotfix

#42 refactor: 전체적인 스타일 수정 (#40)
  frontend/src/GlobalStyles.js
  frontend/src/components/BaseLayout/BaseLayout.js
  frontend/src/components/BaseLayout/BaseLayout.styles.js
  frontend/src/components/Button/Button.js
  frontend/src/components/Button/Button.styles.js
  frontend/src/components/Input/Input.styles.js
  frontend/src/components/Preview/Preview.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/components/PreviewList/PreviewList.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.styles.js
  frontend/src/components/Selection/Selection.styles.js
  frontend/src/components/SideBar/SideBar.js
  frontend/src/components/SideBar/SideBar.styles.js
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/constants/palette.js
  frontend/src/constants/theme.js
  frontend/src/pages/HomePage/HomePage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/pages/SignupPage/SignupPage.styles.js
Labels: frontend, refactor

#45 [BE] 무중단 배포 및 문서화 #33
  backend/.gitignore
  backend/deploy/deploy.sh
  backend/deploy/health.sh
  backend/deploy/profile.sh
  backend/deploy/start.sh
  backend/deploy/stop.sh
  backend/deploy/switch.sh
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/deploy/ProfileController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backjoongwon/cvi/deploy/ProfileControllerTest.java
Labels: backend, feature

#51 [FE] 처음 화면 렌더 시 api 호출하는 버그 수정 (#50)
  frontend/src/components/SideBar/SideBar.js
Labels: frontend, hotfix

#54 [BE] 로깅 적용 (#18)
  backend/src/main/java/com/backjoongwon/cvi/common/handler/CVIControllerAdvice.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/file-error-appender.xml
  backend/src/main/resources/file-info-appender.xml
  backend/src/main/resources/file-warn-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: backend, feature

#56 [BE] application.yml 파일 ddl-auto: create-drop 제거
  backend/src/main/resources/application.yml
Labels: backend, hotfix

#68 [FE] 댓글, 좋아요 레이아웃 구현 (#63)
  frontend/src/assets/icons/comment.svg
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/like.svg
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentForm/CommentForm.styles.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/common/Avatar/Avatar.js
  frontend/src/components/common/Avatar/Avatar.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/BaseLayout/BaseLayout.styles.js
  frontend/src/components/common/Button/Button.styles.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/message.js
  frontend/src/constants/palette.js
  frontend/src/constants/theme.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/SignupPage/SignupPage.js
Labels: feature, frontend

#70 [BE] 버그 수정 및 연령대 한글 반환값 수정 (#69)
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/AgeRange.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserRequest.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
Labels: backend, bug, hotfix

#79 [FE] Donut Chart 컴포넌트 구현(#78)
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/VaccinationState/VaccinationState.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.styles.js
  frontend/src/components/common/DonutChart/DonutChart.js
  frontend/src/components/common/DonutChart/DonutChart.stories.js
  frontend/src/components/common/DonutChart/DonutChart.styles.js
  frontend/src/components/common/index.js
  frontend/src/pages/HomePage/HomePage.styles.js
Labels: feature, frontend

#75 [BE] 좋아요 도메인 설계, API 구현, 문서화 (#71)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/LikeResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
Labels: backend, docs, feature

#82 [BE] 댓글, 좋아요 도메인 설계, API 구현, 문서화 (#71)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/Comment.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentRepository.java
  backend/src/main/java/com/backjoongwon/cvi/comment/dto/CommentRequest.java
  backend/src/main/java/com/backjoongwon/cvi/comment/dto/CommentResponse.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Comments.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepository.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/LikeResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/auth/AuthenticationPrincipal.java
  backend/src/main/java/com/backjoongwon/cvi/user/auth/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/backjoongwon/cvi/user/auth/SigninInterceptor.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/JwtTokenProvider.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/RequestUser.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserResponse.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature

#90 [FE] SideBarMobile 폴더명 수정
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/DonutChart/DonutChart.js
  frontend/src/components/common/SidebarMobile/SideBarMobile.js
Labels: fix, frontend

#93 [FE] 상세 페이지 댓글 생성, 삭제 기능 구현 (#66)
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/common/Avatar/Avatar.js
  frontend/src/components/common/Label/Label.js
  frontend/src/components/common/SideBar/SideBar.styles.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/message.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: feature, frontend

#94 [BE] 내가 좋아요한 게시글인지 true/false 반환 수정 (#92)
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/application/UserService.java
  backend/src/main/java/com/backjoongwon/cvi/user/auth/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, bug, docs, hotfix

#95 [FE] 상세 페이지 댓글 수정 기능 구현 (#66)
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/constants/message.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: feature, frontend

#96 [FE] 좋아요 기능 구현 (#67)
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/like-true.svg
  frontend/src/assets/icons/like.svg
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentForm/CommentForm.styles.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/common/Button/Button.js
  frontend/src/components/common/ButtonLike/ButtonLike.js
  frontend/src/components/common/ButtonLike/ButtonLike.styles.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.stories.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
  frontend/src/components/common/index.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/message.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useLike.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageAccount/MyPageAccount.styles.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: feature, frontend

#97 [FE] 모바일 반응형 레이아웃 구현 (#81)
  frontend/src/assets/icons/close.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/my-review-menu.svg
  frontend/src/assets/icons/review.svg
  frontend/src/assets/icons/shot-verification-menu.svg
  frontend/src/components/CommentForm/CommentForm.styles.js
  frontend/src/components/Preview/Preview.styles.js
  frontend/src/components/PreviewItem/PreviewItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/BaseLayout/BaseLayout.styles.js
  frontend/src/components/common/Frame/Frame.styles.js
  frontend/src/components/common/Input/Input.js
  frontend/src/components/common/Input/Input.styles.js
  frontend/src/components/common/Modal/Modal.js
  frontend/src/components/common/Selection/Selection.js
  frontend/src/components/common/Selection/Selection.styles.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
  frontend/src/components/common/Tabs/Tabs.styles.js
  frontend/src/pages/HomePage/HomePage.styles.js
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/MyPage/MyPage.styles.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageAccount/MyPageAccount.styles.js
  frontend/src/pages/MyPageReviews/MyPageReivews.js
  frontend/src/pages/MyPageReviews/MyPageReviews.styles.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.styles.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/pages/SignupPage/SignupPage.js
Labels: frontend, refactor

#99 [FE] 로그인/로그아웃 버튼 위치 조정 (#98)
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
Labels: frontend, hotfix

#100 [FE] 테스트 작성 (#77)
  frontend/.eslintrc
  frontend/.gitignore
  frontend/cypress.json
  frontend/cypress/fixtures/editReview.json
  frontend/cypress/fixtures/newReview.json
  frontend/cypress/fixtures/newReviewList.json
  frontend/cypress/fixtures/reviewList.json
  frontend/cypress/pages/afterLogin.test.js
  frontend/cypress/pages/beforeLogin.test.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/index.js
  frontend/package.json
  frontend/src/index.js
  frontend/yarn.lock
Labels: frontend, test
