Repository woowacourse-teams/2021-cvi, pull requests merged in 2021-09, with the labels that each got.

#239 chore: domain url 수정
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorization.java
  frontend/env/.env.production
Labels: frontend, backend

#236 [BE] 프로덕션 코드 리팩터링(#200)
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/WorldVaccinationData.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/WorldVaccinationParserResponse.java
  backend/cvi-vaccine-stats-parser/src/test/java/com/backjoongwon/cvi/parser/VaccineParserTest.java
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/auth/controller/AuthController.java
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/Authorization.java
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/AuthorizationManager.java
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorization.java
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/NaverAuthorization.java
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/oauthtoken/NaverOAuthToken.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/oauthtoken/KakaoOAuthToken.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/oauthtoken/NaverOAuthToken.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/oauthtoken/OAuthToken.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/profile/KakaoProfile.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/profile/NaverProfile.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/profile/SocialProfile.java
  backend/src/main/java/com/backjoongwon/cvi/auth/dto/profile/UserInformation.java
  backend/src/main/java/com/backjoongwon/cvi/auth/service/AuthService.java
  backend/src/main/java/com/backjoongwon/cvi/comment/controller/CommentController.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/Comment.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/comment/service/CommentService.java
  backend/src/main/java/com/backjoongwon/cvi/common/EnvSecret.java
  backend/src/main/java/com/backjoongwon/cvi/common/domain/entity/BaseEntity.java
  backend/src/main/java/com/backjoongwon/cvi/common/exception/ExceptionMessage.java
  backend/src/main/java/com/backjoongwon/cvi/common/handler/CVIControllerAdvice.java
  backend/src/main/java/com/backjoongwon/cvi/config/CommonConfig.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/like/service/LikeService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Comments.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/dto/VaccinationStatisticResponse.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/service/PublicDataScheduler.java
  backend/src/main/java/com/backjoongwon/cvi/user/auth/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
  backend/src/main/java/com/backjoongwon/cvi/user/service/UserService.java
  backend/src/test/java/com/backjoongwon/cvi/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/AuthorizationManagerTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/NaverAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/service/AuthServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/comment/service/CommentServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/like/service/LikeServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/service/PostFindServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/service/PostMyPageServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/service/PublicDataServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/service/UserServiceTest.java
Labels: backend, fix

#242 [FE] 인증 관련 로직, 컴포넌트 제거 (#241)
  frontend/src/App.js
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/shot-verification-menu.svg
  frontend/src/assets/lotties/index.js
  frontend/src/assets/lotties/shot-verification-completion-heart.json
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ShotVerificationLabel/ShotVerificationLabel.js
  frontend/src/components/ShotVerificationLabel/ShotVerificationLabel.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/SideBar/SideBar.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/message.js
  frontend/src/constants/path.js
  frontend/src/constants/shotVerification.js
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.styles.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/index.js
  frontend/src/redux/authSlice.js
  frontend/src/requests.js
Labels: frontend, refactor

#251 [BE] 이미지 업로드 용량 제한 수정 (#250)
  backend/src/main/resources/application.yml
Labels: backend, hotfix

#252 [FE] 이미지 첨부 기능 구현
  frontend/src/assets/icons/image-detail.svg
  frontend/src/assets/icons/index.js
  frontend/src/components/Comment/Comment.js
  frontend/src/components/ImageModal/ImageModal.js
  frontend/src/components/ImageModal/ImageModal.styles.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/ReviewFilterList/ReviewFilterList.styles.js
  frontend/src/components/ReviewImage/ReviewImage.js
  frontend/src/components/ReviewImage/ReviewImage.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.styles.js
  frontend/src/components/common/BarChart/BarChart.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/Input/Input.js
  frontend/src/components/common/Modal/Modal.js
  frontend/src/components/common/Modal/Modal.styles.js
  frontend/src/components/common/SideBar/SideBar.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/message.js
  frontend/src/constants/palette.js
  frontend/src/constants/theme.js
  frontend/src/pages/HomePage/HomePage.styles.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/requests.js
Labels: frontend, feature

#257 [FE] 환경 변수 및 세팅 수정
  frontend/.prettierrc
  frontend/env/.env.development
  frontend/env/.env.local
  frontend/package.json
  frontend/src/components/VaccinationSchedule/VaccinationSchedule.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, refactor

#260 [FE] 홈페이지 콘텐츠 수정(#259)
  frontend/src/assets/images/calendar.png
  frontend/src/components/HomeContent/HomeContent.js
  frontend/src/components/HomeContent/HomeContent.styles.js
  frontend/src/components/common/HorizontalBarChart/HorizontalBarChart.js
  frontend/src/components/common/HorizontalBarChart/HorizontalBarChart.styles.js
  frontend/src/components/common/index.js
  frontend/src/components/index.js
  frontend/src/pages/HomePage/HomePage.js
Labels: frontend, refactor

#271 [FE] HorizontalBarChart 애니메이션이 적용되지 않는 문제 수정 (#270)
  frontend/src/components/common/HorizontalBarChart/HorizontalBarChart.js
Labels: frontend, fix

#273 [FE] 성능 개선
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/GlobalStyles.js
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/loading100.gif
  frontend/src/assets/images/default_profile.png
  frontend/src/assets/images/vaccination_example.png
  frontend/src/assets/videoes/index.js
  frontend/src/assets/videoes/loading.mp4
  frontend/src/components/HomeContent/HomeContent.js
  frontend/src/components/ReviewFilterList/ReviewFilterList.js
  frontend/src/components/ReviewImage/ReviewImage.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/Button/Button.js
  frontend/src/components/common/ButtonLike/ButtonLike.js
  frontend/src/components/common/Loading/Loading.js
  frontend/src/components/common/Loading/Loading.styles.js
  frontend/src/components/common/LottieAnimation/LottieAnimation.js
  frontend/src/components/common/Route/Route.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/index.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, refactor

#269 [FE] 마이페이지 댓글 단 글에 첨부된 이미지 표시 (#268)
  frontend/src/components/MyCommentsItem/MyCommentsItem.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.styles.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.styles.js
Labels: frontend, feature

#272 [BE] 카카오 RedirectUrl dev, prod 설정 (#253)
  backend/deploy/start.sh
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorization.java
  backend/src/main/java/com/backjoongwon/cvi/common/EnvSecret.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: backend, fix, release, test

#280 [FE] dev 서버 배포 자동화 적용 (#279)
  .github/workflows/front-build-test.yml
  .github/workflows/front-dev-deploy.yml
  .github/workflows/main.yml
  frontend/webpack.config.js
Labels: frontend, release

#278 [BE] 백신 접종률 리펙터링 및 테스트 코드 작성 (#274)
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatistics.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/dto/KoreaVaccinationDataFactory.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/service/PublicDataService.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticFactory.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticsTest.java
Labels: backend, feature

#286 [FE] 깃허브 액션 커맨드 수정
  .github/workflows/front-dev-deploy.yml
Labels: frontend, fix

#283 [FE] 파비콘 추가(#282)
  frontend/public/favicon.svg
  frontend/public/index.html
Labels: frontend, feature

#287 [FE] 리뷰 개행 처리 (#265)
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
Labels: frontend, refactor
