Repository woowacourse-teams/2021-cvi, pull requests merged in 2021-10, with the labels that each got.

#289 [FE] 오픈 그래프 추가(#288)
  frontend/public/index.html
Labels: frontend, feature

#303 [FE] 서비스 로직 리팩터링(#301)
  frontend/src/components/comment/Comment/Comment.js
  frontend/src/components/comment/CommentForm/CommentForm.js
  frontend/src/components/comment/CommentItem/CommentItem.js
  frontend/src/components/preview/PreviewList/PreviewList.js
  frontend/src/components/review/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/statistics/VaccinationState/VaccinationState.js
  frontend/src/hooks/useLike.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/OAuthPage/OAuthPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/SignupPage/SignupPage.js
  frontend/src/pages/StatePage/StatePage.js
  frontend/src/redux/authSlice.js
  frontend/src/requests.js
  frontend/src/service/customRequest.js
  frontend/src/service/fetch/auth.js
  frontend/src/service/fetch/comment.js
  frontend/src/service/fetch/index.js
  frontend/src/service/fetch/like.js
  frontend/src/service/fetch/myInfo.js
  frontend/src/service/fetch/review.js
  frontend/src/service/fetch/statistics.js
  frontend/src/service/index.js
Labels: frontend, backend

#312 [FE] useMovePage 커스텀훅 생성 및 적용(#311)
  frontend/src/components/@common/BaseLayout/BaseLayout.js
  frontend/src/components/preview/Preview/Preview.js
  frontend/src/components/preview/PreviewList/PreviewList.js
  frontend/src/components/statistics/VaccinationState/VaccinationState.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useLike.js
  frontend/src/hooks/useMovePage.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/OAuthPage/OAuthPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/SignupPage/SignupPage.js
Labels: frontend, refactor

#305 [BE] hotfix: API 명세 파일 관련 예외 처리 (#296)
  backend/.gitignore
  backend/app-cvi-api/src/docs/asciidoc/index.adoc
  backend/domain-cvi-aws-s3-service/README.md
  backend/domain-cvi-aws-s3-service/build.gradle
  backend/domain-cvi-aws-s3-service/src/test/java/com/cvi/empty.txt
Labels: backend, hotfix

#315 [BE] Spring REST Docs 빠진 부분 채우기 (댓글) (#304)
  backend/app-cvi-api/src/docs/asciidoc/index.adoc
Labels: backend, fix
