Repository woowacourse-teams/2021-cvi, pull requests merged in 2021-08, with the labels that each got.

#102 [FE] 배포 url 수정
  frontend/src/constants/url.js
Labels: frontend

#103 [BE] 카카오 콜백 URL 변경 및 CLIENT-SECRET 관련 yml 파일 수정
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorization.java
  backend/src/main/resources/application.yml
Labels: backend, hotfix

#108 [BE] 클라우드 워치용 log 파일 분리 (#107)
  backend/src/main/resources/file-error-aws-appender.xml
  backend/src/main/resources/file-info-aws-appender.xml
  backend/src/main/resources/file-warn-aws-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: backend, hotfix

#123 [BE] 사진 인증 (유저 정보 업데이트) (#117)
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
  backend/src/main/java/com/backjoongwon/cvi/user/dto/UserRequest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/domain/UserTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, docs, feature

#118 [BE] Auditing LastModifiedAt 추가 (#101)
  backend/src/main/java/com/backjoongwon/cvi/auth/domain/authorization/NaverAuthorization.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/Comment.java
  backend/src/main/java/com/backjoongwon/cvi/common/domain/entity/BaseEntity.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/user/domain/User.java
Labels: backend, feature

#125 [BE] 페이징 (무한스크롤) (#114)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDslImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
Labels: backend, docs, feature

#128 [FE] 예외 처리 (#126)
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/loading.gif
  frontend/src/assets/icons/menu.svg
  frontend/src/components/Preview/Preview.styles.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/components/PreviewList/PreviewList.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/VaccinationState/VaccinationState.styles.js
  frontend/src/components/common/Avatar/Avatar.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/BaseLayout/BaseLayout.styles.js
  frontend/src/components/common/Button/Button.styles.js
  frontend/src/components/common/DonutChart/DonutChart.js
  frontend/src/components/common/Input/Input.js
  frontend/src/components/common/Label/Label.js
  frontend/src/components/common/Loading/Loading.js
  frontend/src/components/common/Loading/Loading.styles.js
  frontend/src/components/common/Selection/Selection.styles.js
  frontend/src/components/common/SideBar/SideBar.styles.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
  frontend/src/components/common/index.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/message.js
  frontend/src/constants/regex.js
  frontend/src/constants/url.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useFetch.js
  frontend/src/hooks/useLoading.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/pages/SignupPage/SignupPage.js
Labels: fix, frontend, refactor

#129 [BE] Refactor/backend
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/NaverAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/ui/AuthControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, refactor

#132 [FE] 마이페이지 레이아웃 수정 (내가 쓴 글, 댓글 단 글, 좋아요 표시한 글) (#60)
  frontend/src/App.js
  frontend/src/assets/icons/index.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/MyCommentItem/MyCommentItem.js
  frontend/src/components/MyCommentItem/MyCommentItem.styles.js
  frontend/src/components/common/SideBar/SideBar.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/constants/limit.js
  frontend/src/constants/path.js
  frontend/src/db.json
  frontend/src/fixtures/reviewList.json
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.styles.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.styles.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/MyPageReview/MyPageReview.styles.js
  frontend/src/pages/index.js
  frontend/src/redux/authSlice.js
  frontend/src/requests.js
Labels: feature, frontend

#133 [FE] SnackBar 컴포넌트 구현 (#80)
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/common/SideBar/SideBar.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/SnackBar/SnackBar.js
  frontend/src/components/common/SnackBar/SnackBar.styles.js
  frontend/src/components/common/index.js
  frontend/src/constants/message.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useSnackBar.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/OAuthPage/OAuthPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/SignupPage/SignupPage.js
  frontend/src/redux/snackbarSlice.js
  frontend/src/redux/store.js
  frontend/yarn.lock
Labels: feature, frontend

#137 [FE] ReviewPage 페이징 적용 (#135)
  frontend/package.json
  frontend/src/assets/icons/index.js
  frontend/src/assets/icons/loading100.gif
  frontend/src/components/Comment/Comment.js
  frontend/src/components/Comment/Comment.styles.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/common/Loading/Loading.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/service.js
  frontend/src/hooks/useLike.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/requests.js
  frontend/src/service/index.js
  frontend/yarn.lock
Labels: feature, frontend

#134 [BE] 마이페이지 페이징 구현(#127)
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature

#142 [FE] 환경 변수 설정 (#141)
  frontend/.env
  frontend/env/.env.development
  frontend/env/.env.production
  frontend/package.json
  frontend/src/constants/url.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend

#144 [FE] .env 파일 숨김 처리 (#143)
  frontend/.env
  frontend/.gitignore
Labels: frontend, hotfix

#147 [BE] 페이징/필터링/정렬 구현 및 페이징 관련 수정(lastIndexId -> offset)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/CommentRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/LikeRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostQueryDsl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/PostRepositoryImpl.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Sort.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/user/ui/UserController.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
Labels: backend, feature, hotfix

#153 [FE] ReviewPage 페이징 API 수정사항 반영 (#152)
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: frontend, hotfix

#176 [FE] DonutChart API 적용 (#175)
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/VaccinationState/VaccinationState.styles.js
Labels: frontend, feature

#177 [FE] 필터링 구현 (#174)
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/index.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/components/ReviewFilterList/ReviewFilterList.js
  frontend/src/components/ReviewFilterList/ReviewFilterList.styles.js
  frontend/src/components/common/BarChart/BarChart.styles.js
  frontend/src/components/common/Tabs/Tabs.js
  frontend/src/components/common/Tabs/Tabs.styles.js
  frontend/src/components/common/ToggleButton/ToggleButton.js
  frontend/src/components/common/ToggleButton/ToggleButton.styles.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/list.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
  frontend/src/pages/SignupPage/SignupPage.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: frontend, feature

#173 [BE] 소나큐브, JaCoCo 연동 (#168)
  backend/build.gradle
Labels: backend, refactor

#179 [FE] 마이페이지 API 적용 (#178)
  frontend/.gitignore
  frontend/src/components/MyCommentItem/MyCommentItem.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/ReviewWritingModal/ReviewWritingModal.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/message.js
  frontend/src/constants/service.js
  frontend/src/hooks/useLike.js
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.styles.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.styles.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/MyPageReview/MyPageReview.styles.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: frontend, feature

#189 [FE] MapChart 컴포넌트 구현 (#139)
  frontend/src/components/RegionalStateChart/RegionalStateChart.js
  frontend/src/components/RegionalStateChart/RegionalStateChart.styles.js
  frontend/src/components/RegionalStateTable/RegionalStateTable.js
  frontend/src/components/common/BarChart/BarChart.js
  frontend/src/components/common/BarChart/BarChart.styles.js
  frontend/src/components/common/MapChart/MapChart.js
  frontend/src/components/common/MapChart/MapChart.styles.js
  frontend/src/components/common/MapChartStandard/MapChartStandard.js
  frontend/src/components/common/MapChartStandard/MapChartStandard.styles.js
  frontend/src/components/common/MapChartSvg/MapChartSvg.js
  frontend/src/components/common/MapChartSvg/MapChartSvgPath.js
  frontend/src/components/common/index.js
  frontend/src/pages/StatePage/StatePage.styles.js
  frontend/src/utils/getStatisticalValues.js
  frontend/src/utils/index.js
Labels: frontend, feature

#186 [BE] 테스트 리팩토링 (#187)
  backend/deploy/start.sh
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Sort.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/ui/PublicDataController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/backjoongwon/cvi/ApiDocument.java
  backend/src/test/java/com/backjoongwon/cvi/auth/application/AuthServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/AuthorizationManagerTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/KakaoAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/domain/authorization/NaverAuthorizationTest.java
  backend/src/test/java/com/backjoongwon/cvi/auth/ui/AuthControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/deploy/ProfileControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostCommentServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostFindServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostLikeServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostMyPageServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostCommentControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostLikeControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PreprocessPostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/application/PublicDataServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/application/UserServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/domain/UserTest.java
  backend/src/test/java/com/backjoongwon/cvi/user/ui/UserControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend, refactor

#193 [BE] 댓글 페이징 구현 (#151)
  backend/src/main/java/com/backjoongwon/cvi/DataLoader.java
  backend/src/main/java/com/backjoongwon/cvi/post/application/PostService.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Likes.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/post/dto/PostResponse.java
  backend/src/main/java/com/backjoongwon/cvi/post/ui/PostController.java
Labels: backend, feature

#192 [BE] 스케쥴링 모듈 구현 (공공데이터 요청 응답 데이터 ) (#148, 154)
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/KoreaRegionVaccinationData.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/KoreaVaccineParserResponse.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/WorldVaccinationData.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/dto/WorldVaccinationParserResponse.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/parser/VaccinationParser.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/util/DateConverter.java
  backend/cvi-vaccine-stats-parser/src/main/java/com/backjoongwon/cvi/util/JsonMapper.java
  backend/cvi-vaccine-stats-parser/src/test/java/com/backjoongwon/cvi/parser/VaccineParserTest.java
  backend/cvi-vaccine-stats-parser/src/test/java/com/backjoongwon/cvi/util/DateConverterTest.java
  backend/cvi-vaccine-stats-parser/src/test/java/com/backjoongwon/cvi/util/JsonMapperTest.java
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/backjoongwon/cvi/config/ScheduleConfig.java
  backend/src/main/java/com/backjoongwon/cvi/config/VaccinationConfig.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/application/PublicDataScheduler.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/application/PublicDataService.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/PublicData.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/RegionPopulation.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatistic.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticRepository.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatistics.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/dto/RegionVaccinationDataFactory.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/dto/VaccinationStatisticResponse.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/dto/WorldVaccinationDataFactory.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/ui/PublicDataController.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/PublicDataFacotry.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/application/PublicDataServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatisticTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/ui/PublicDataControllerTest.java
Labels: backend, feature

#195 [FE] 메인 페이지 개편 DonutChart API 적용 (#185)
  frontend/src/assets/images/calendar.png
  frontend/src/components/Preview/Preview.js
  frontend/src/components/Preview/Preview.styles.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/PreviewItem/PreviewItem.styles.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/components/PreviewList/PreviewList.styles.js
  frontend/src/components/ReviewFilterList/ReviewFilterList.styles.js
  frontend/src/components/VaccinationSchedule/VaccinationSchedule.js
  frontend/src/components/VaccinationSchedule/VaccinationSchedule.styles.js
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/VaccinationState/VaccinationState.styles.js
  frontend/src/components/common/DonutChart/DonutChart.js
  frontend/src/components/common/Tabs/Tabs.styles.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/limit.js
  frontend/src/constants/url.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/HomePage/HomePage.styles.js
  frontend/src/pages/MyPageAccount/MyPageAccount.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
Labels: frontend, feature, refactor

#198 [FE] 댓글 페이징 적용 (#196)
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/comment.svg
  frontend/src/assets/icons/ellipsis.svg
  frontend/src/assets/icons/eye.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/kakao.svg
  frontend/src/assets/icons/left-arrow.svg
  frontend/src/assets/icons/like-true.svg
  frontend/src/assets/icons/like.svg
  frontend/src/assets/icons/login.svg
  frontend/src/assets/icons/logo.svg
  frontend/src/assets/icons/logout.svg
  frontend/src/assets/icons/map.svg
  frontend/src/assets/icons/menu.svg
  frontend/src/assets/icons/my-review-menu.svg
  frontend/src/assets/icons/mypage.svg
  frontend/src/assets/icons/review.svg
  frontend/src/assets/icons/right-arrow.svg
  frontend/src/assets/icons/shot-verification-menu.svg
  frontend/src/assets/icons/state.svg
  frontend/src/assets/icons/statistic.svg
  frontend/src/components/Comment/Comment.js
  frontend/src/components/Comment/Comment.styles.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/Preview/Preview.styles.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/PreviewItem/PreviewItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/common/ToggleButton/ToggleButton.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/StatePage/StatePage.js
  frontend/src/requests.js
  frontend/src/service/index.js
Labels: frontend, feature, refactor

#201 [BE] DB 마이그레이션(flyway) 적용 (#65)
  backend/build.gradle
  backend/src/main/java/com/backjoongwon/cvi/comment/domain/Comment.java
  backend/src/main/java/com/backjoongwon/cvi/like/domain/Like.java
  backend/src/main/java/com/backjoongwon/cvi/post/domain/Post.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/PublicData.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/domain/VaccinationStatistic.java
  backend/src/main/resources/db/migration/V20210809__Create_init.sql
  backend/src/main/resources/logback-spring.xml
Labels: backend, feature

#197 [BE] 댓글 페이징 테스트 구현 (#194)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/index.html
  backend/src/test/java/com/backjoongwon/cvi/post/application/PostCommentServiceTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/domain/PostTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostCommentControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/post/ui/PostControllerTest.java
  backend/src/test/java/com/backjoongwon/cvi/publicdata/PublicDataFacotry.java
Labels: backend, feature

#205 [FE] 접종 인증 레이아웃 구현 및 API 연동 (#61)
  frontend/package.json
  frontend/src/assets/images/vaccination_example.png
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/RegionalStateTable/RegionalStateTable.js
  frontend/src/components/common/BarChart/BarChart.js
  frontend/src/components/common/MapChart/MapChart.js
  frontend/src/components/common/MapChartStandard/MapChartStandard.js
  frontend/src/components/common/MapChartSvg/MapChartSvg.js
  frontend/src/constants/message.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.styles.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.styles.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/MyPageReview/MyPageReview.styles.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.styles.js
  frontend/src/redux/authSlice.js
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, feature

#207 [FE] 페이지 전체적인 레이아웃 수정 (#206)
  frontend/src/components/RegionalStateTable/RegionalStateTable.js
  frontend/src/components/RegionalStateTable/RegionalStateTable.styles.js
  frontend/src/components/common/MapChart/MapChart.js
  frontend/src/components/common/MapChart/MapChart.styles.js
Labels: frontend, refactor

#209 [FE] 댓글 페이징 에러 수정 (#208)
  frontend/src/App.js
  frontend/src/components/Comment/Comment.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/RegionalStateChart/RegionalStateChart.js
  frontend/src/components/RegionalStateChart/RegionalStateChart.styles.js
  frontend/src/components/VaccinationSchedule/VaccinationSchedule.styles.js
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/common/MapChart/MapChart.js
  frontend/src/components/common/Route/Route.js
  frontend/src/components/common/SideBar/SideBar.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
  frontend/src/components/common/ToggleButton/ToggleButton.styles.js
  frontend/src/components/common/index.js
  frontend/src/constants/message.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/StatePage/StatePage.js
Labels: frontend, fix, refactor

#212 [FE] 마이페이지 레이아웃 수정 (#211)
  frontend/package.json
  frontend/src/assets/lotties/index.js
  frontend/src/assets/lotties/not-found.json
  frontend/src/assets/lotties/shot-verification-completion-heart.json
  frontend/src/components/CommentItem/CommentItem.js
  frontend/src/components/CommentItem/CommentItem.styles.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.js
  frontend/src/components/MyCommentsItem/MyCommentsItem.styles.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/PreviewItem/PreviewItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/ShotVerificationLabel/ShotVerificationLabel.js
  frontend/src/components/ShotVerificationLabel/ShotVerificationLabel.styles.js
  frontend/src/components/common/BaseLayout/BaseLayout.js
  frontend/src/components/common/BaseLayout/BaseLayout.styles.js
  frontend/src/components/common/LottieAnimation/LottieAnimation.js
  frontend/src/components/common/LottieAnimation/LottieAnimation.styles.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/index.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/constants/shotVerification.js
  frontend/src/pages/MyPage/MyPage.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.styles.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.js
  frontend/src/pages/MyPageLikeReview/MyPageLikeReview.styles.js
  frontend/src/pages/MyPageReview/MyPageReview.js
  frontend/src/pages/MyPageReview/MyPageReview.styles.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.js
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.js
  frontend/src/pages/ReviewEditPage/ReviewEditPage.styles.js
  frontend/yarn.lock
Labels: frontend, refactor

#214 [FE] 접종 인증 페이지 인증 로직 추가 (#213)
  frontend/src/constants/message.js
  frontend/src/pages/MyPageCommentReview/MyPageCommentReview.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.styles.js
Labels: frontend, refactor

#221 [FE] main.yml 파일 수정
  .github/workflows/main.yml
  frontend/cypress/pages/afterLogin.test.js
  frontend/cypress/pages/beforeLogin.test.js
Labels: frontend, test

#222 [FE] 모바일 레이아웃 수정
  .github/workflows/main.yml
  frontend/cypress/fixtures/editReview.json
  frontend/cypress/fixtures/newReview.json
  frontend/cypress/fixtures/newReviewList.json
  frontend/cypress/fixtures/reviewList.json
  frontend/package.json
  frontend/src/components/Preview/Preview.js
  frontend/src/components/Preview/Preview.styles.js
  frontend/src/components/PreviewItem/PreviewItem.styles.js
  frontend/src/components/ReviewItem/ReviewItem.styles.js
  frontend/src/components/VaccinationState/VaccinationState.js
  frontend/src/components/VaccinationState/VaccinationState.styles.js
  frontend/src/components/common/LottieAnimation/LottieAnimation.styles.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.js
  frontend/src/components/common/SideBarMobile/SideBarMobile.styles.js
  frontend/src/fixtures/reviewList.json
  frontend/src/pages/ReviewDetailPage/ReviewDetailPage.styles.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/ReviewPage/ReviewPage.styles.js
Labels: frontend, refactor

#225 [FE] 데모 전 최종 리팩토링 (#224)
  frontend/src/components/Comment/Comment.js
  frontend/src/components/CommentForm/CommentForm.js
  frontend/src/components/Preview/Preview.js
  frontend/src/components/PreviewItem/PreviewItem.js
  frontend/src/components/PreviewList/PreviewList.js
  frontend/src/constants/message.js
  frontend/src/pages/MyPageAccount/MyPageAccount.js
  frontend/src/pages/MyPageShotVerification/MyPageShotVerification.js
  frontend/src/pages/ReviewPage/ReviewPage.js
  frontend/src/pages/SignupPage/SignupPage.js
Labels: frontend, fix, refactor

#223 [BE] 캐싱 적용 with EhCache (#146)
  backend/build.gradle
  backend/cache/data/.lock
  backend/cache/data/file/cache%003a%003aworldVaccinationStatistics_1955f38c9d44fb897fbc39ca30b91156eeb9d5ed/offheap-disk-store/ehcache-disk-store.data
  backend/cache/data/file/cache%003a%003aworldVaccinationStatistics_1955f38c9d44fb897fbc39ca30b91156eeb9d5ed/offheap-disk-store/ehcache-disk-store.meta
  backend/src/main/java/com/backjoongwon/cvi/common/cache/CacheEventLogger.java
  backend/src/main/java/com/backjoongwon/cvi/config/CacheConfig.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/service/PublicDataScheduler.java
  backend/src/main/java/com/backjoongwon/cvi/publicdata/service/PublicDataService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/ehcache.xml
Labels: backend, hotfix

#227 [BE] cvi-vaccine-stats-parser 모듈에 jacoco 및 sonar 큐브 연동 (#226)
  backend/cvi-vaccine-stats-parser/build.gradle
Labels: backend, refactor

#229 [FE] .env.production login callback url 수정 (#228)
  frontend/env/.env.production
  frontend/package.json
Labels: frontend, release
